extends layout

block content
    h1 Informação da classe 
        span= entrada.codigo
    p 
        b  Código: 
            span=entrada.codigo
    p 
        b  Título:  
            span=entrada.titulo
    p 
        b  Descrição:  
            span=entrada.descricao
    p 
        b  Estado: 
            span=entrada.status
    p 
        b  Lista de Descendentes: 
            span=ol
                each fi in f
                    li= fi.codigo
                        a(href="/clav/classes/c"+fi.codigo)= fi.dados 
    p 
        b  Lista de processos relacionados: 
            span=ol
                each p in pro
                    li= p.codigo
                        a(href="/clav/classes/c"+p.codigo)= p.dados 
    hr 
    adress 
        a(href="/clav") Voltar à lista